*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #e5e5e5;
}

/* Primer título */

.container-title1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title{
    width: 206px;
    height: 40px;
    left: 537px;
    top: 765px;

    font-family:Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;

    margin-top: 20px;
}

.title-parte1{
    color: #1f1f1f;
}

.title-parte2{
    color: #ff8126;
}

/* Cards */

.container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilo card 1 */

.card-1{
    width: 270px;
    height: 332px;
    left: 55px;
    top: 845px;

    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    background: #F7F5F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-1:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transform: scale(1.03);
}

.card1-img-1{
    width: 270px;
    height: 160px;
    left: 55px;
    top: 845px;
    border-radius: 20px 20px 0 0;

    margin-bottom: 15px;
    background-size: cover;
    background-image: url('https://media.istockphoto.com/photos/picking-slice-of-pepperoni-pizza-picture-id1133727757?k=20&m=1133727757&s=170667a&w=0&h=XMwhSokTuzGSE9ABV-T0w5Eo3GbxijMX54vAGaho1LI=');
}

.card1-title{
    width: 141px;
    height: 27px;
    left: 120px;
    top: 1025px;

    font-family:Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1f1f1f;

    margin-left: 65px;
    margin-right: 64px;
    margin-top: 20px;
}

.card1-texts{
    float: left;
}

.card1-text-1{
    width: 72px;
    height: 30px;
    left: 123px;
    top: 1057px;

    font-family:Impact;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ff8126;

    margin-left: 68px;
    margin-top: 5px;
}

.card1-text-2{
    width: 57px;
    height: 24px;
    left: 200px;
    top: 1063px;

    font-family:Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #656565;

    margin-left: 145px;
    margin-right: 68px;
    margin-top: 11px;
}

.card1-button{
    width: 230px;
    height: 40px;
    left: 75px;
    top: 1107px;

    background: #ff8126;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.card1-button-text{
    width: 102px;
    height: 27px;
    left: 139px;
    top: 1113px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
}

/* Estilo card 2 */

.card-2{
    width: 270px;
    height: 332px;
    left: 355px;
    top: 845px;

    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    background: #f7f5f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-2:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transform: scale(1.03);
}

.card2-img-2{
    width: 270px;
    height: 160px;
    left: 355px;
    top: 845px;
    border-radius: 20px 20px 0 0;

    margin-bottom: 15px;
    background-size: cover;
    background-image: url('https://www.justataste.com/wp-content/uploads/2015/01/fluffy-ricotta-pancakes-580x380.jpg');
}

.card2-title{
    width: 149px;
    height: 27px;
    left: 416px;
    top: 1025px;

    font-family: Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1f1f1f;

    margin-left: 61px;
    margin-right: 60px;
    margin-top: 20px;
}

.card2-texts{
    float: left;
}

.card2-text-1{
    width: 79px;
    height: 36px;
    left: 419px;
    top: 1057px;

    font-family: Impact;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ff8126;

    margin-left: 68px;
    margin-top: 5px;
}

.card2-text-2{
    width: 58px;
    height: 27px;
    left: 503px;
    top: 1063px;

    font-family:Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #656565;

    margin-left: 145px;
    margin-right: 68px;
    margin-top: 11px;
}

.card2-button{
    width: 230px;
    height: 40px;
    left: 375px;
    top: 1107px;

    background: #ff8126;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.card2-button-text{
    width: 102px;
    height: 27px;
    left: 439px;
    top: 1113px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
}

/* Estilo card 3 */

.card-3{
    width: 270px;
    height: 332px;
    left: 655px;
    top: 845px;

    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    background: #F7F5F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-3:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transform: scale(1.03);
}

.card3-img-3{
    width: 270px;
    height: 160px;
    left: 655px;
    top: 845px;
    border-radius: 20px 20px 0 0;

    margin-bottom: 15px;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1523049673857-eb18f1d7b578?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXZvY2Fkb3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
}

.card3-title{
    width: 82px;
    height: 27px;
    left: 749px;
    top: 1025px;

    font-family:Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1f1f1f;

    margin-left: 94px;
    margin-right: 94px;
    margin-top: 20px;
}

.card3-texts{
    float: left;
}

.card3-text-1{
    width: 69px;
    height: 36px;
    left: 724px;
    top: 1057px;

    font-family:Impact;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ff8126;

    margin-left: 69px;
    margin-top: 5px;
}

.card3-text-2{
    width: 57px;
    height: 24px;
    left: 798px;
    top: 1063px;

    font-family:Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #656565;

    margin-left: 143px;
    margin-right: 70px;
    margin-top: 11px;
}

.card3-button{
    width: 230px;
    height: 40px;
    left: 675px;
    top: 1107px;

    background: #ff8126;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.card3-button-text{
    width: 102px;
    height: 27px;
    left: 739px;
    top: 1113px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
}

/* Estilo card 4 */

.card-4{
    width: 270px;
    height: 332px;
    left: 955px;
    top: 845px;

    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    background: #F7F5F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card-4:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transform: scale(1.03);
}

.card4-img-4{
    width: 270px;
    height: 160px;
    left: 955px;
    top: 845px;
    border-radius: 20px 20px 0 0;

    margin-bottom: 15px;
    background-size: cover;
    background-image: url('https://p2.piqsels.com/preview/132/58/510/orange-fruits-food-vitamins.jpg');
}

.card4-title{
    width: 153px;
    height: 27px;
    left: 1014px;
    top: 1025px;

    font-family:Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1f1f1f;

    margin-left: 59px;
    margin-right: 58px;
    margin-top: 20px;
}

.card4-texts{
    float: left;
}

.card4-text-1{
    width: 64px;
    height: 36px;
    left: 1027px;
    top: 1057px;

    font-family:Impact;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ff8126;

    margin-left: 72px;
    margin-top: 5px;
}

.card4-text-2{
    width: 57px;
    height: 24px;
    left: 1096px;
    top: 1063px;

    font-family:Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #656565;

    margin-left: 151px;
    margin-right: 72px;
    margin-top: 11px;
}

.card4-button{
    width: 230px;
    height: 40px;
    left: 975px;
    top: 1107px;

    background: #ff8126;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.card4-button-text{
    width: 103px;
    height: 27px;
    left: 1039px;
    top: 1113px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
}

/* Segundo título */

.container-title2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title2{
    width: 770px;
    height: 50px;
    left: 255px;
    top: 1257px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;

    margin-top: 80px;
    margin-bottom: 80px;
}

.title-parte1{
    color: #1f1f1f;
}

.title-parte2{
    color: #ff8126;
}

/* Estilo columnas */

.container-colums{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caja{
    padding: 10px;
    margin-top: 20px;
}

.fas{
    font-size: 30px;
    margin-bottom: 20px;
}

.far{
    font-size: 30px;
    margin-bottom: 20px;
}

/* caja1 */

.caja:nth-child(1) h1{
    width: 210px;
    height: 70px;
    left: 55px;
    top: 1415px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #1f1f1f;

    margin-right: 30px;
}

.caja:nth-child(1) p{
    width: 210px;
    height: 163px;
    left: 55px;
    top: 1485px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;

    margin-right: 30px;
}

/* caja2 */

.caja:nth-child(2) h1{
    width: 210px;
    height: 70px;
    left: 295px;
    top: 1415px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #1f1f1f;

    margin-right: 30px;
}

.caja:nth-child(2) p{
    width: 210px;
    height: 163px;
    left: 295px;
    top: 1485px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;

    margin-right: 30px;
}

/* caja3 */

.caja:nth-child(3) h1{
    width: 210px;
    height: 70px;
    left: 535px;
    top: 1415px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #1f1f1f;

    margin-right: 30px;
}

.caja:nth-child(3) p{
    width: 210px;
    height: 190px;
    left: 535px;
    top: 1485px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.0015em;
    color: #1f1f1f;

    margin-right: 30px;
}

/* caja4 */

.caja:nth-child(4) h1{
    width: 210px;
    height: 70px;
    left: 775px;
    top: 1416px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #1f1f1f;

    margin-right: 30px;
}

.caja:nth-child(4) p{
    width: 210px;
    height: 163px;
    left: 775px;
    top: 1486px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;

    margin-right: 30px;
}

/* caja5 */

.caja:nth-child(5) h1{
    width: 210px;
    height: 70px;
    left: 1015px;
    top: 1416px;

    font-family:Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #1f1f1f;
}

.caja:nth-child(5) p{
    width: 210px;
    height: 163px;
    left: 1015px;
    top: 1486px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
}


@media(min-width:768px){
    .caja p{
        line-height: 30px;
    }
}

@media(min-width:1024px){
    .contenido{
        width: 1000px;
        margin:auto;
    }
    .caja p{
        line-height: 40px;
    }
}

@media(min-width:1280px){
    .contenido{
        width: 1200px;
    }
}